{{ script('https://unpkg.com/jquery@3.3.1/dist/jquery.js') }}
{{ script('https://unpkg.com/bootstrap@4.1.0/dist/js/bootstrap.min.js') }}
{{ script('https://kit.fontawesome.com/dfa1ce4b7b.js') }}
{{ script('main') }}
</body>
</html>
